.columnCounter {
  display: flex;
  justify-content: center;
}

.columnCounter span {
  padding: 12px;
}

.rowCounter {
  padding: 0px 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  height: 30px;
  width: 30px;
  border: 1px solid;
}

.active {
  background: #3498db;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn {
  outline: none;
  border-radius: 3px;
  text-align: center;
  padding: 10px 20px;
  background: #3498db;
  border: 0px;
  margin: 10px;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.center-text {
  text-align: center;
}
